<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/body.css">
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <title>BLOGGING WEB</title>
</head>

<nav class="navbar">
    <a href="/"><img src="/images/logo.png" alt="" class="logo"></a>
     <ul class="links-container">
    <li class="link-item"><a href="/" class="links">home</a></li>
    <li class="link-item"><a href="/About" class="links">about</a></li>
    <li class="link-item"><a href="/Services" class="links">services</a></li>
    <li class="link-item"><a href="/editor" class="links">editor</a></li>
    <li class="link-item"><a href="/Contact" class="links">contacts</a></li>
     </ul>    
</nav>

<body>
    
