<%- include('partials/header.ejs') %>

    <header class="header">
        <div class="content">
            <h1 class="heading">
                <span class="small">Welcome in the world of </span>blog<span class="no-fill">writing</span>
            </h1>
            <a href="/views/editor.ejs" class="btn">write a blog</a>
        </div>
    </header    >

   <!-- <section class="blog-section">
        <div class="blog-card">
            <img src="/images/header.png"  alt="" class="blog-image">
            <h1 class="blog-title">lorem ipsum dolor sit ammet consectetur</h1>
            <p class="blog-overview">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias repudiandae voluptatibus quod consequuntur quasi commodi, optio quam vel atque eveniet.
            </p>
            <a href="/" class="btn-dark">read</a>

        </div>

    </section> !-->

<%- include('partials/footer.ejs') %>



    
