*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    font-family: "poppins",sans-serif;
}

.navbar{
    width: 100%;
    position: fixed;
    background:#fff;
    display: flex;
    top: 0;
    justify-content: space-between;
    padding: 0 5vw;
    z-index: 10;
    
    
}
.logo{
    height: 50px;
    margin-top: 10px;
}

.links-container{
    margin-top: 15px;
    display: flex;
    list-style: none;
}

.links{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}